@import url('https://fonts.googleapis.com/css?family=Lato:100,300|Raleway:300&display=swap');

html {
max-width:960px;
margin:auto;
}
h1{
text-align: center;
color:#F7EDE2;
font-size:72px;
font-family:'Lato', sans-serif;
font-weight:100;
background-color:#F28482;
width: auto;
padding: 15px;
margin: 20px;
}
h2 {
background-color:#F6BD60;
font-size: 40px;
text-align: left;
padding-left: 30px;
font-family: 'Lato', sans-serif;
color:#F7EDE2;
font-family: 'Lato', sans-serif;
font-weight: 100;
margin: 10px;
margin-top: 0px;
margin-bottom: 20px;
}
p,li, ul{
font-family:'Raleway', sans-serif;
font-weight:400;
font-size:18px;
color: #222;
}
li{
  font-size: 18px;
}
img{
display: inline-flex;
  border-radius: 0;
  border: 2px solid #F7EDE2;
}
img + p {
color: #84A59D;
font-size: 12px;
}
footer {
background-color:#F5CAC3;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
margin: 20px;
}
footer p {
  font-weight: bolder;
  font-size: 14px;
  color: #84A59D;
}
article:first-child{
grid-column: 1;
grid-row: 1;
padding: 40px;
padding-bottom: 0px;
background-color: #F7EDE2;
}
article:nth-child(2){
  grid-column: 2;
  grid-row: 1;
  padding: 40px;
  padding-bottom: 0px;
  background-color: #F7EDE2;
}
article:last-child{
  grid-column: 3;
  grid-row: 1;
  padding: 40px;
  padding-bottom: 0px;
  background-color: #F7EDE2;
}

section:first-child, section:nth-child(2) {
  display:grid;
  width:850px;
  margin:auto;
  margin-bottom: 20px;
}
section:last-child {
background-color: #F7EDE2;
width:850px;
margin:auto;
padding-top: 40px;
padding-bottom: 20px;
}
section:last-child p, section:last-child a {
  padding-left: 100px;

}
section:last-child h2 {
margin-right: 50px;
margin-left: 50px;
background-color: #84A59D;
}

ul {
  padding-right: 100px;
}
